

.filters-container {
  height: var(--height-filters);
  font-size: 0.9rem;
}

.filters {
  column-gap: 16px;
}

.filter {
  background-color: var(--blue4);
  padding: 5px 8px 5px 8px;
  border-radius: 2px;
  width: 175px;

  & > * {
    width: 100%;
  }
}

.filter-label {
  font-size: .75rem;
  font-weight: bold;
}

